body {
  font-family: "Arial", sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

header {
  background-color: #3498db;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 28px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

header img {
  max-width: 50px;
  margin-right: 10px;
  vertical-align: middle;
}

.profile-icon {
  margin-right: 10px;
}

nav {
  background-color: #2980b9;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

nav i.material-icons {
  vertical-align: -7px;
  color: whitesmoke;
}

.welcome-container {
  display: flex;
  align-items: center;
}

.welcome-text {
  font-size: 18px;
  color: #ecf0f1;
  margin-right: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.nav-links {
  display: flex;
  gap: 20px;
  justify-content: flex-end; /* Align links to the right */
}

.nav-link {
  color: #ecf0f1;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.nav-link:hover {
  color: #bdc3c7;
}

/* Add a shadow to the header for a subtle depth effect */
header {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Style adjustments for sections and data boxes */
section {
  margin: 20px;
}

h2 {
  color: #2c3e50;
  font-size: 24px;
  margin-bottom: 10px;
}

.data-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.data-box {
  background-color: #ecf0f1;
  border: 1px solid #bdc3c7;
  border-radius: 10px;
  padding: 20px;
  flex: 1 1 calc(30% - 20px);
  box-sizing: border-box;
  transition: transform 0.3s ease;
}

.data-box:hover {
  transform: translateY(-5px);
}

p {
  color: #555;
  margin-bottom: 10px;
}

.search-container {
  margin-bottom: 20px;
}

#searchBar {
  padding: 12px;
  width: 70%;
  box-sizing: border-box;
  border: 2px solid #3498db;
  border-radius: 25px;
  margin-bottom: 10px;
  font-size: 16px;
  outline: none;
}

#searchBar::placeholder {
  color: #bdc3c7;
}

#searchBar:focus {
  border-color: #2980b9;
}
